extends layout

block content
  div#container

block scripts
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300, 400')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='javascripts/app.js')
