extends layout

block content
  button#recordButton.btn-floating.btn-large.red.disabled
    i.large.material-icons="mic_none"
  ul#memos
    each file in fileList
      li.memo=file.name
        div.deleteButton
        audio(src=file.url)

block scripts
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
  script(src='javascripts/recorder.js')
  script(src='javascripts/exporter.js')
  script(src='javascripts/script.js')
