extends layout
block head
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0")
block content
  nav
    div.nav-wrapper.container
      a.brand-logo(href="#")
        i.material-icons mic
  div.container
    div.row
      div.col.s12
        h4.center-align Gyaonについて
        div.section
          h5 これは何ですか？
          p Gyaon(ギャオン)は、簡単に録音・再生・共有が行える新しい音声記録アプリケーションです。
          p 長らく変わることのなかったボイスレコーダーのデザインを改良することで、録音の手間を軽減し、音声の再生/検索が簡単でないといった問題を解決します。
          p 皆さんが実験に参加されている「SFC-voice」では、位置情報と連携したGyaonMapアプリケーションが利用されています。
          p 汎用な音声記録に利用できる
            a(href="../../../") ノーマル版Gyaon
            では、日常的なメモやインタビューなどにも利用することができます。
            ぜひアクセスしてみてください。(PCのみ)
        div.divider
        div.section
          h5 このアプリでできること
          p このアプリを起動し、音声が記録された場所へ行くと、その音声が再生されます。
          p また、録音すると自動的に位置情報が関連付けられ、他の人もその場所でその音声を聞くことができます。
          p 具体的な使用方法は
            a(href="./howto") つかいかた
            をご覧ください。

        div.divider
        div.section
          h5 開発者
          p
            a(href="https://github.com/stkay") Hiroaki Satake
          p このアプリケーションは
            a(href="http://gyazz.com/masuilab/%E6%85%B6%E6%87%89SFC%20%E5%A2%97%E4%BA%95%E7%A0%94%E7%A9%B6%E4%BC%9A") 慶應義塾大学増井俊之研究室
            で研究・開発されているものです。

block scripts
  link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='favicon.ico')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
  link(rel='stylesheet', href='/stylesheets/map-document.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
