body {
  padding: 30px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* id非表示 */
p {
  display: none;
}
/* 音声リスト用div非表示 */
#tablecontainer {
  display: none;
}

#recorder {
  height: 60px;
  min-width: 300px;
}

#volumeMeter {
  height: 50px;
  width: 200px;
}
