body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.memo {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  word-wrap: break-word;
  position: relative;
}

.actions {
  bottom: 5px;
  position: absolute;
}

.actions i {
  cursor: pointer;
  margin-right: 5px;
}

#recorder {
  min-width: 585px;
}

#recordButton {
  margin-left: 10px;
  float: left;
}

#volumeMeter {
  margin-top: 3px;
  margin-left: 15px;
}

.memo .progress {
  width: 110%;
  bottom: 0;
  left: -10px;
  position: absolute;
  margin: 0;
}

.determinate {
  transition: none !important;
}
